<%- include('./partials/head') %> 

<section>
  <h1>Le Chat <span>waar je niet weet met wie je chat...</span></h1>
  <ul></ul>
  <form>
    <input type="text" autocomplete="off">
    <button><span>Send</span></button>
  </form>
</section>

<%- include('./partials/foot') %>
