<%- include('./partials/head') %>
<img src="./img/tekn-io.svg" alt="logo of Teken io" class="logo-index" />

<main>
  <form action="draw">
    <input
      type="text"
      name="username"
      id="username"
      placeholder="..."
      required
      maxlength="8"
    />
    <button type="submit" class="submit-btn">Join the Game</button>
  </form>
</main>

<%- include('./partials/foot') %>
