* {
  margin: 0;
  padding: 0;
}

:root {
  --blue: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --geel: #fcbf49;
  --beige: #eae2b7;
}

@font-face {
  font-family: "Grotesk";
  src: url("./Grotesk-Medium.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Grotesk", sans-serif;
  /* overflow: hidden; */
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--geel);
}

main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Grotesk", sans-serif;
  padding: 1rem 0 0 0;
}

.logo-draw {
  width: 200px;
  position: absolute;
  left: 45%;
  top: 2%;
}

/* index styling */
.logo-index {
  width: 500px;
  position: absolute;
  left: 32%;
  top: 20%;
}

.submit-btn {
  padding: 1em;
  border-radius: 20px;
  border: 3px solid black;
  cursor: pointer;
  font-family: "Grotesk", sans-serif;
}

.submit-btn:hover {
  background-color: var(--beige);
  box-shadow: 0 0 5px var(--orange) inset;
  border: 3px solid black;
  font-weight: 700;
  color: var(--red);
}

#username {
  padding: 1em;
  border: 3px solid black;
  border-radius: 20px;
  font-family: "Grotesk", sans-serif;
}
.chat h2:nth-of-type(2) {
  text-align: center;
  margin: 0 auto;
  display: none;
  font-size: 12px;
  color: var(--blue);
  padding-bottom: 0.5rem;
}

.chat h2:nth-of-type(3) {
  text-align: center;
  margin: 0 auto;
  display: none;
  color: var(--red);
  font-size: 12px;
  padding-bottom: 0.5rem;
}

/* Chat Section */

.chat {
  width: 350px;
  height: 500px;
  background-color: var(--beige);
  border: 3px solid rgb(74, 74, 74);
  border-left: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 17px;
}

.chat h2:first-of-type {
  margin: 0;
  padding: 1rem 0 0.5rem 0;
  /* padding-top: 1rem; */
  text-transform: uppercase;
  font-size: 1rem;
}

.chat ul {
  margin: 0;
  padding: 0.2em;
  list-style-type: none;
  flex-grow: 2;
  width: 18em;
  overflow-y: scroll;
  position: relative;
}

::-webkit-scrollbar {
  /* background: transparent; */
  display: none;
}

.chat ul > li {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 24%;
  padding: 0.5rem 1rem;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 0.8rem;
}

.chat li:before {
  content: attr(username);
  position: absolute;
  left: 0;
  color: var(--blue);
}

.chat form {
  margin: 0 0 1rem 0;
  padding: 0;
  width: 18rem;
  height: 2rem;
  display: flex;
}

.chat form input[type="text"] {
  margin: 0;
  padding: 0 1rem;
  border: none;
  font-family: "Grotesk", sans-serif;

  height: 2rem;
  flex-grow: 2;
  background: var(--geel);
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border: 0;
  opacity: 80%;
  outline: none;
}

.chat form input[type="text"]:focus {
  box-shadow: 0 0 5px var(--orange) inset;
}

.chat form > button {
  padding: 0 0.6rem 0 0.4rem;
  width: 2rem;
  background: var(--orange);
  border: 3px solid rgb(81, 77, 77);
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border: 0;
  opacity: 80%;
  outline: none;
  transition: 0.2s;
}

.chat form > button span {
  display: none;
}

.chat form > button::after {
  content: ">";
  font-weight: 700;
  font-family: "Grotesk", sans-serif;
  /* background-color: #baa; */
  padding: 0.3em;
  border-radius: 70px;
  color: white;
  width: 50px;
}

.chat form > button:hover {
  padding-left: 0.7rem;
}

.chat form > button:active {
  padding-left: 0.5rem;
}

/* Reload button */

.reload {
  padding: 1em;
  border-radius: 20px;
  border: 3px solid black;
  font-family: "Grotesk", sans-serif;
  position: absolute;
  cursor: pointer;
  right: 10%;
  visibility: hidden;
  top: 77%;
}

.reload:hover {
  background-color: var(--beige);
  box-shadow: 0 0 5px var(--orange) inset;
  border: 3px solid black;
  font-weight: 700;
  color: var(--red);
}

/* Canvas section */

.canvas p {
  padding-bottom: 0.2rem;
  padding: 0.8em;
  background-color: var(--beige);
  width: 300px;
  margin-bottom: 0.4em;
  border-radius: 10px;
  box-shadow: 0 0 4px var(--geel);
  visibility: hidden;
}

.canvas p strong {
  color: var(--red);
}

.paint-canvas {
  border: 3px rgb(74, 74, 74) solid;
  border-right: none;
  width: 500px;
  height: 500px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: block;
  margin-bottom: 5px;
  margin-right: 0;
  background-color: white;
  cursor: url("../img/brush.png"), auto;
}

.picker {
  visibility: hidden;
}

.color-picker {
  margin: 1rem 1rem 0 1rem;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 30% 70% 36% 64% / 30% 30% 70% 70%;

  width: 40px;
  height: 40px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 30% 70% 36% 64% / 30% 30% 70% 70%;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 30% 70% 36% 64% / 30% 30% 70% 70%;
}

/* Overlay */
.overlay {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  background-color: #fcbf49;
  box-shadow: 0 0 10px #f77f00 inset;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  position: absolute;
  visibility: hidden;
  top: 30%;
}

.overlay p {
  color: white;
  font-weight: 700;
  margin-top: 1em;
}

@media only screen and (max-width: 900px) {
  .paint-canvas {
    width: 300px;
    height: 300px;
  }

  .chat {
    height: 300px;
    width: 210px;
    position: relative;
  }

  .chat form > button::after {
    width: 30px;
  }

  .chat form {
    width: 10rem;
  }

  .chat form > button {
    width: 1.2rem;
    height: 1.2rem;
  }

  .chat form input[type="text"] {
    height: 1.2rem;
    width: 10rem;
  }

  .chat ul {
    width: 10rem;
  }
}
